body {
  background: url('/img/kitten.jpg') no-repeat center center;
  width: 100vw;
  height: 100vh;
}

[data-react] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
